.card{width:20%;}
.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.index-portada{
    width: 10rem;
    height:auto;}

.portada-numero{
    width: 30rem;
    height:auto;}

.foto-autor{
    width: 20rem;
    height:auto;}

.link{
    color: #fff !important;
}
.form-img-preview{
    width: 10rem ;
    height: auto;
    border: solid 1px black;
}

.portada-dashboard{
    width: 5rem;
    height: auto;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
main{
    max-height: 75rem;
}
body{
    min-height: 50rem;
}

.nav-link{
    /*color:#fff;*/
}

.btn-anadir-numero{
    margin-left: 6rem;
}

.blog-sidebar{
    float:right;
}

.card-autor{
    float: left;
    width: 45%;
    padding: .75rem;
    margin-bottom: 2rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.container-autor{
    margin-left: 40%;
}

.card-numero{
    width: 33rem;
    margin-left: 25%;
}

.card-numero>p{
    font-size: 100%;
}